[Unit]
Description=Socat service to forward {{ src }} to {{ dst }}

[Service]
User={{ user }}
ExecStart=/usr/bin/socat {{ opt }} {{ src }},fork {{ dst }}

# socat sometimes is a bit fragile (e.g. with DNS errors), restart automatically
Restart=always

[Install]
WantedBy=multi-user.target
